<!DOCTYPE html>
<html lang="en" ng-app="MizaniaProjectModule">
<head>
    <title>Project Tracking Home Page</title>
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <link href="CSS/amelia.bootstrap.min.css" rel="stylesheet" />
    <link href="CSS/Site.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>

    <script src="../Scripts/app.js">
    </script>
    <script src="../Controllers/UserBDController.js"></script>
    <script src="../Services/usersService.js"></script>

</head>
<body ng-controller="UserBDController">
    <form class="form-horizontal" name="insertEmployeeForm">
        <fieldset>
            <legend>Insert User</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label">ID</label>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" ng-model="user.id" placeholder="ID">
                </div>
            </div>
             <div class="form-group">
                <label class="col-lg-2 control-label">Nom</label>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" ng-model="user.nom" placeholder="Nom">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-2 control-label">Prenom</label>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" ng-model="user.prenom" placeholder="Prenom">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-2 control-label">Nom de compte</label>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" ng-model="user.nomDeCompte" placeholder="Nom de compte">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-2 control-label">Role</label>
                <div class="col-lg-6">
                    <input type="text" required class="form-control" ng-model="user.roleUtilisateur" placeholder="Role">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-2 control-label">ID Portefeuille</label>
                <div class="col-lg-6">
                    <input type="number" required class="form-control" ng-model="user.idPorteFeuille" placeholder="ID Portefeuille">
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a href="#Projects" class="btn btn-default">Cancel</a>
                    <a ng-click="InsertUser(user)" class="btn btn-primary">Insert User</a>
                </div>
            </div>
        </fieldset>
    </form>
</body>
</html>